body {
    font-family: Arial, sans-serif;
    background-color: #252323;
    padding: 20px;
}

h1 {
    color: rgba(255, 255, 255, 0.91);
}

.person {
    color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.label {
    font-weight: bold;
    color: #f4f6f8;
}

ul {
    list-style: none;
    padding: 0;
}