<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h1>Product List</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price (SEK)</th>
        <th>Stock</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">1010</td>
        <td th:text="${product.title}">Title</td>
        <td th:text="${product.description}">Description</td>
        <td th:text="${product.price}">300</td>
        <td th:text="${product.stock}">50</td>
    </tr>
    </tbody>
</table>

</body>
</html>
