<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1 th:text="'Users'">Standard text</h1>
<ul>
    <li th:each="user : ${users}" class="user">
        <p>
            <strong>Username:</strong>
            <span th:text="${user.username}"></span>
        </p>

        <p>
            <strong>Password:</strong>
            <span th:text="${user.password}"></span>
        </p>

        <p>
            <strong>Email:</strong>
            <span th:text="${user.email}"></span>
        </p>

        <p>
            <strong>First Name:</strong>
            <span th:text="${user.firstName}"></span>
        </p>

        <p>
            <strong>Last Name:</strong>
            <span th:text="${user.lastName}"></span>
        </p>
    </li>
</ul>
</body>
</html>